<div>
  <button *ngIf="hasPrevious" mat-raised-button matStepperPrevious type="button" color="primary">Zpět</button>
  <button *ngIf="hasNext" mat-raised-button matStepperNext type="button" color="primary">Dále</button>
  <button *ngIf="isEnd" mat-raised-button type="button" color="primary" (click)="createBook()">Uložit rozbor</button>
</div>
