<div class="content">
  <h1>
    {{showInfo(book.bookName)}}
    <button class="right" mat-stroked-button aria-label="Edit book" (click)="editBook()">Upravit rozbor</button>
    <button class="right" mat-stroked-button aria-label="Delete book" *ngIf="isUserLoggedIn()" (click)="deleteBook()">Smazat rozbor</button>
  </h1>
  <mat-divider class="mat-divider-head"></mat-divider>
  <h2>
    <mat-icon>local_offer</mat-icon>
    Literární forma
  </h2>
  <p>{{showInfo(translateForm(book.litForm))}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>auto_stories</mat-icon>
    Literární žánry
  </h2>
  <p>{{showInfo(showArrayInBlock(book.litGenres))}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>list</mat-icon>
    Kategorie
  </h2>
  <p>{{showInfo(countCategory())}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <div *ngIf="book.authorName !== null">
    <h2>
      <mat-icon>account_circle</mat-icon>
      Autor
    </h2>
    <h3>{{book.authorName}}</h3>
    <p>{{showInfo(book.authorInfo)}}</p>
    <p></p>
    <p><strong>Další knihy autora:</strong><br>
      {{showInfo(showArrayInBlock(book.authorBooksDb.concat(book.authorBooksOther)))}}
    </p>
  </div>
  <div *ngIf="book.authorName === null">
    <h2>
      <mat-icon>account_circle</mat-icon>
      Neznámý autor
    </h2>
  </div>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>history_edu</mat-icon>
    Literárně-historický kontext
  </h2>
  <h3>Historický kontext</h3>
  <p>{{showInfo(book.historyContext)}}</p>
  <h3>Literární kontext</h3>
  <p>{{showInfo(book.literaryContext)}}</p>
  <h3>Soudobí autoři</h3>
  <p>{{showInfo(showArrayInBlock(book.contemporaryAuthors))}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>wb_incandescent</mat-icon>
    Téma a motivy
  </h2>
  <h3>Téma</h3>
  <p>{{showInfo(book.theme)}}</p>
  <h3>Motivy</h3>
  <p>{{showInfo(book.motives)}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>hourglass_empty</mat-icon>
    Prostředí a čas
  </h2>
  <h3>Prostředí</h3>
  <p>{{showInfo(book.space)}}</p>
  <h3>Čas</h3>
  <p>{{showInfo(book.time)}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>border_color</mat-icon>
    Představení děje
  </h2>
  <p>{{showInfo(book.plot)}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>face</mat-icon>
    Postavy
  </h2>
  <div *ngIf="book.characters != undefined && book.characters !== null && book.characters != [] && book.characters.length >= 1">
    <ul>
      <li *ngFor="let character of book.characters">
        <h4>{{character.name}}</h4>
        <p>{{character.description}}</p>
      </li>
    </ul>
  </div>
  <div  *ngIf="book.characters === undefined || book.characters === null || book.characters === [] || book.characters.length < 1">
    <p>{{showInfo('')}}</p>
  </div>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>pie_chart</mat-icon>
    Kompozice
  </h2>
  <p>{{showInfo(book.composition)}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>info</mat-icon>
    Další informace
  </h2>
  <p>{{showInfo(book.extraInfo)}}</p>
</div>
