h1{
  margin-left: 5%;
  font-size: 40px;
}

h3{
  margin-left: 2%;
}

p{
  margin-left: 3%;
  white-space: pre-line;
}

.mat-divider-head {
  border-top-color: #2d8be1;
  border-top-width: 3px;
  border-top-style: solid;
}

.mat-divider-normal {
  border-top-color: #2d8be1;
  border-top-width: 2px;
  border-top-style: dashed;
}

.content {
  margin-bottom: 100px;
}

button.right{
  float: right;
  margin-right: 2%;
  margin-top: 8px;
  border-style: solid;
  border-color: slategray;
  width: 150px;
}
