<h1 class="header">Rozbory literárních děl</h1>
<div>
  <mat-form-field class="left" style="width: 200px">
    <mat-label>
      <mat-icon>search</mat-icon>
      Filtrovat výsledky
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Zadejte výraz">
  </mat-form-field>
  <button class="right" mat-stroked-button aria-label="Add book" routerLink="/create-book">Přidat nový rozbor</button>
</div>
<div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Název </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <ng-container matColumnDef="form">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Literární forma </th>
      <td mat-cell *matCellDef="let element"> {{translateForm(element.form)}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategorie </th>
      <td mat-cell *matCellDef="let element"> {{translateCategory(element.category)}} </td>
    </ng-container>

    <tr mat-header-row style="border-bottom: 5px solid midnightblue" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;" routerLink="/book-detail" (click)="openBookDetail(row.id)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



