button{
  margin-left: 8px;
  margin-top: 30px;
}

.context-content{
  background-color: antiquewhite;
  margin-bottom: 50px;
  white-space: pre-line;
}


.right{
  float: right;
  margin-right: 3%;
}
