<h4>{{title}}</h4>
<p>
  <mat-icon>info</mat-icon>
  Po vybrání díla s potenciálně stejným kontextem se objeví náhled tohoto kontextu. Pokud se rozhodnete tento kontext použít, klikněte na tlačítko Kopírovat.
  Kontext budete moci následně libovolně upravit.
</p>
<mat-form-field appearance="fill">
  <mat-label>Nabízená díla</mat-label>
  <mat-select [formControl]="contextControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let title of titles" [value]="title.context">
      {{title.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="contextControl.hasError('required')">Vyberte dílo, jehož rozbor chcete zkopírovat</mat-error>
  <mat-hint>{{nameControl.value}}</mat-hint>
</mat-form-field>
<div *ngIf="!contextControl.hasError('required')">
  <h5>Náhled</h5>
  <p class="context-content">{{contextControl.value}}</p>
</div>
<div class="right">
  <button mat-raised-button (click)="close()">Zavřít</button>
  <button mat-raised-button (click)="choose()">Kopírovat</button>
</div>
