button{
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  border-color: slategray;
}

mat-radio-button{
  margin-left: 15px;
}

.one-step{
  margin-top: 10px;
}

mat-form-field{
  margin-right: 10px;
}

.large-text{
  width: 70%;
}

h3{
  margin-top: 10px;
}

::ng-deep .mat-tooltip{
  font-size: 12px;
}

.medium-text{
  width: 50%;
}

textarea{
  height: 150px;
}

form{
  margin-bottom: 120px;
}

.footer{
  height: 100px;
  position: fixed;
  width: 88%;
  bottom: 0;
  background-color: white;
}
