<h1>Vytváření nového rozboru</h1>
<form [formGroup]="bookForm">
  <mat-vertical-stepper (click)="progressChanged()" linear>
    <mat-step label="NÁZEV DÍLA" [completed]="!bookNameControl.errors">
      <div class="one-step">
        <h3>Vložte název díla</h3>
        <mat-form-field class="large-text">
          <mat-label>Název</mat-label>
          <input matInput placeholder="Název rozebíraného titulu..." [formControl]="bookNameControl" required>
        </mat-form-field>
        <app-slider-buttons [hasPrevious]=false></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="LITERÁRNÍ FORMA" [completed]="!litFormControl.errors">
      <div class="one-step">
        <h3>Vyberte literární formu díla *</h3>
        <mat-radio-group [formControl]="litFormControl">
          <mat-radio-button *ngFor="let lf of litForms" [value]="lf">
            {{lf}}
          </mat-radio-button>
        </mat-radio-group>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="LITERÁRNÍ ŽÁNRY">
      <h3>Vyberte literární žánry</h3>
      <app-genres-chips (genresChanged)="genresChangedHandler($event)"></app-genres-chips>
      <app-slider-buttons></app-slider-buttons>
    </mat-step>
    <mat-step label="PRVNÍ VYDÁNÍ" [completed]="!firstEditionControl.errors">
      <div class="one-step">
        <h3>Zadejte rok prvního vydání díla</h3>
        <mat-form-field>
          <mat-label>Rok</mat-label>
          <input matInput placeholder="RRRR" [formControl]="firstEditionControl" required>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="ZAŘAZENÍ" [completed]="!isCzechOrWorldControl.errors">
      <div class="one-step">
        <h3>Jedná se o českou, nebo světovou literaturu *</h3>
        <mat-radio-group [formControl]="isCzechOrWorldControl">
          <mat-radio-button class="example-margin" value="czech">Česká</mat-radio-button>
          <mat-radio-button class="example-margin" value="world">Světová</mat-radio-button>
        </mat-radio-group>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="AUTOR">
      <div class="one-step">
        <h3>Přidejte autora díla</h3>
        <app-find-author (authorChanged)="authorChangedHandler($event)"></app-find-author>
        <mat-form-field class="medium-text">
                <mat-label>Jméno</mat-label>
                <input matInput placeholder="Jméno a příjmení autora.." [formControl]="authorNameControl">
        </mat-form-field>
        <div *ngIf="isAuthorFilled()">
          <mat-form-field class="large-text">
            <mat-label>Důležité informace o autorovi</mat-label>
            <textarea matInput placeholder="Autorův život, zaměření autorovi literární činnosti, autorova životní filosofie..." [formControl]="authorInfoControl">
            </textarea>
          </mat-form-field>
        </div>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="DALŠÍ DÍLA">
      <div class="one-step">
        <div *ngIf="this.authorBooksDbControl !== null" class="large-text">
          <h3>Rozebraná díla autora</h3>
          <app-author-books-uneditable></app-author-books-uneditable>
        </div>
        <h3>Vložte další literární díla autora</h3>
        <app-authors-books [isEditable]="isAuthorFilled()" (booksChanged)="booksChangedHandler($event)" class="large-text"></app-authors-books>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="HISTORICKÝ KONTEXT">
      <div class="one-step">
        <h3>Zasaďte dílo do dějinného kontextu doby</h3>
        <div>
          <p><mat-icon>info</mat-icon> Umožňuje zkopírovat historický kontext z rozboru jiného díla</p>
          <button mat-stroked-button aria-label="Copy history context" matTooltip="Zkopíruje dějinný kontext z jiného díla" (click)="copyContext('history')" >Kopírovat kontext</button>
        </div>
        <mat-form-field class="large-text">
          <mat-label>Dějinný kontext</mat-label>
          <textarea matInput placeholder="Za jakých společensko-politických událostí dílo vznikalo; na jaké události reaguje" [formControl]="historyContextControl">
          </textarea>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="LITERÁRNÍ KONTEXT">
      <div class="one-step">
        <h3>Zasaďte dílo do literárního kontextu</h3>
        <div>
          <p><mat-icon>info</mat-icon> Umožňuje zkopírovat literární kontext z rozboru jiného díla</p>
          <button mat-stroked-button aria-label="Copy literary context" matTooltip="Zkopíruje literární kontext z jiného díla" (click)="copyContext('literary')">Kopírovat</button>
        </div>
        <mat-form-field class="large-text">
          <mat-label>Literární kontext</mat-label>
          <textarea matInput placeholder="Je dílo součástí nějakého literárního směru/proudu; jaká díla v této době vznikají" [formControl]="literaryContextControl">
          </textarea>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="SOUDOBÍ AUTOŘI">
      <div class="one-step">
        <h3>Přidejte autory tvořící ve stejném období</h3>
        <app-contemporary-authors-chips [authorNameIn]="authorNameControl.value"
                                        [czechOrWorld]="isCzechOrWorldControl.value"
                                        [firstEditionIn]="firstEditionControl.value"
                                        (contemporaryAuthorsChanged)="authorsChangedHandler($event)"></app-contemporary-authors-chips>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="TÉMA">
      <div class="one-step">
        <mat-form-field class="large-text">
          <mat-label>Téma</mat-label>
          <textarea formut matInput placeholder="Představte hlavní myšlenku díla, případně další, vedlejší" [formControl]="themeControl"></textarea>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="MOTIVY">
      <div class="one-step">
        <mat-form-field class="large-text">
          <mat-label>Motivy</mat-label>
          <textarea matInput placeholder="Náměty které se často v díle opakovaly; zdůrazňují myšlenky obsahu" [formControl]="motivesControl"></textarea>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="PROSTŘEDÍ A ČAS">
      <div class="one-step">
        <div>
        <mat-form-field class="medium-text">
          <mat-label>Prostředí</mat-label>
          <textarea matInput placeholder="Kde se děj odehrává" [formControl]="spaceControl"></textarea>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field class="medium-text">
            <mat-label>Čas</mat-label>
            <textarea matInput placeholder="Kdy se děj odehrává" [formControl]="timeControl"></textarea>
          </mat-form-field>
        </div>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="DĚJ">
      <div class="one-step">
        <h3>Stručně popište děj</h3>
        <mat-form-field class="large-text">
          <mat-label>Představení děje</mat-label>
          <textarea matInput placeholder="Popište obsah děje, jeho zápletku, rozuzlení" [formControl]="plotControl"></textarea>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="POSTAVY">
      <div class="one-step">
        <h3>Zadejte důležité postavy</h3>
        <app-characters (charactersChanged)="charactersChangedHandler($event)"></app-characters>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="KOMPOZICE">
      <div class="one-step">
        <h3>Určete kompozici díla</h3>
        <mat-form-field class="large-text">
          <mat-label>Kompozice</mat-label>
          <textarea matInput placeholder="Do kompozice patří popis způsobu promluv, forma vyprávění, členění příběhu, způsob výstavby děje či chronologické uspořádání" [formControl]="compositionControl"></textarea>
        </mat-form-field>
        <app-slider-buttons></app-slider-buttons>
      </div>
    </mat-step>
    <mat-step label="DALŠÍ ÚDAJE">
      <div class="one-step">
        <h3>Uveďte další důležité informace</h3>
        <mat-form-field class="large-text">
          <mat-label>Další informace</mat-label>
          <textarea matInput placeholder="Můžete uvést porovnání s filmovým zpracováním, reakci společnosti na toto dílo nebo jiné údaje, které jsou významné" [formControl]="extraInfoControl"></textarea>
        </mat-form-field>
        <app-slider-buttons [hasNext]=false [isEnd]=true (submitBook)="createBook()"></app-slider-buttons>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
<div class="footer">
  <h3>Dokončení rozboru: {{progressCounter}} / {{maxProgress}}</h3>
  <mat-progress-bar mode="determinate" [value]="progressBarValue" [color]="progressBarColor" ></mat-progress-bar>
</div>
