<mat-list>
    <mat-list-item *ngFor="let character of characters">
      <p>{{character.name}}</p>
      <div>
        <button mat-stroked-button (click)="removeCharacter(character)">Odstranit postavu</button>
      </div>
    </mat-list-item>
</mat-list>
<div *ngIf="!characterAdding">
  <button mat-raised-button (click)="showCharacterAdding()">Přidat novou postavu</button>
</div>
<div *ngIf="characterAdding">
  <mat-form-field>
    <mat-label>Jméno postavy</mat-label>
    <input matInput placeholder="Vložte jméno postavy" [formControl]="charNameControl" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Popis postavy</mat-label>
    <textarea matInput placeholder="Vložte popis postavy" [formControl]="charDescriptionControl" required></textarea>
  </mat-form-field>
  <div>
    <button
      [disabled]="charNameControl.hasError('required') || charDescriptionControl.hasError('required')"
      mat-stroked-button aria-label="Add character" (click)="addCharacter()" >
      Vložit postavu
    </button>
  </div>
</div>
