<div>
  <p><mat-icon>info</mat-icon> Umožňuje nalézt autory děl z podobného období</p>
  <button
    *ngIf="firstEditionIn !== null && czechOrWorld !== null"
    mat-raised-button
    matTooltip="Nalezne soudobé autory v databázi"
    (click)="loadContemporaryAuthors()">
    Vyhledat soudobé autory
  </button>
</div>
<mat-form-field>
  <mat-label>Další autoři</mat-label>
  <mat-chip-list #chipList aria-label="Authors selection">
    <mat-chip
      *ngFor="let author of contemporaryAuthors"
      (removed)="remove(author)">
      {{author}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Přidejte autora"
      #authorInput
      [formControl]="authorsControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]=true
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
      {{author}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
