<h1 class="header">Editace autora</h1>
<mat-divider class="mat-divider-head"></mat-divider>
<div class="content">
  <div>
    <h3>Vložte jméno a příjmení autora</h3>
    <mat-form-field class="large-textarea">
      <mat-label>Autorovo jméno</mat-label>
      <input matInput placeholder="Jméno a příjmení" [formControl]="authorNameControl" required>
    </mat-form-field>
  </div>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <div>
    <h3>Vložte informace o autorovi</h3>
    <mat-form-field class="large-textarea">
      <mat-label>Informace o autorovi</mat-label>
      <textarea matInput placeholder="Informace o životě autora, čím se zapsal do dějin, souvislosti" [formControl]="authorInfoControl" required></textarea>
    </mat-form-field>
  </div>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <div>
    <h3>Rozebraná díla</h3>
    <app-author-books-uneditable></app-author-books-uneditable>
  </div>
  <div>
    <h3>Vložte díla autora</h3>
    <app-authors-books [isRequired]=true (booksChanged)="booksChangedHandler($event)"></app-authors-books>
  </div>
  <button mat-raised-button (click)="submitAuthor()" [disabled]="authorNameControl.hasError('required') || authorInfoControl.hasError('required') || authorOtherBooksControl.hasError('required')">Upravit autora</button>
</div>
