<mat-form-field>
  <mat-label>Díla autora {{addStarForRequired()}}</mat-label>
  <mat-chip-list #chipList aria-label="Other books">
    <mat-chip *ngFor="let book of books" [removable]="isEditable" (removed)="remove(book)">
      {{book}}
      <mat-icon *ngIf="isEditable" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input [placeholder]="getPlaceholder()"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]=true
           (matChipInputTokenEnd)="add($event)"
           [required]="isRequired"
           [disabled]="!isEditable"
    >
  </mat-chip-list>
</mat-form-field>

