<div>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Čtenářáky</span>
    <span class="example-spacer"></span>
    <span class="username">{{showUsername()}}</span>
    <button mat-stroked-button aria-label="Register" (click)="openRegistrationDialog()" *ngIf="!isUserLogged()">Registrovat se</button>
    <button mat-raised-button aria-label="Sign in" (click)="openLoginDialog()" *ngIf="!isUserLogged()">Přihlásit se</button>
    <button mat-raised-button aria-label="Sign out" (click)="logout()" *ngIf="isUserLogged()">Odhlásit se</button>
  </mat-toolbar>
</div>
