<mat-form-field>
  <mat-label>{{getLabel()}}</mat-label>
  <mat-chip-list #chipList aria-label="Other books">
    <mat-chip *ngFor="let book of books" [removable]="false">
      {{book}}
    </mat-chip>
    <input
           [matChipInputFor]="chipList"
           [disabled]="true"
    >
  </mat-chip-list>
</mat-form-field>
