<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <h4>{{text}}</h4>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Zrušit</button>
  <button mat-raised-button (click)="confirm()">Potvrdit</button>
</mat-dialog-actions>

