<h2 mat-dialog-title>Přihlášení</h2>

<mat-dialog-content [formGroup]="loginForm">
  <mat-form-field class="full-width">
    <mat-label>Uživatelské jméno</mat-label>
    <input matInput placeholder="Uživatelské jméno" [formControl]="username" required>
    <mat-error *ngIf="usernameControl.hasError('required')">Uživatelské jméno nemůže být prázdné</mat-error>
  </mat-form-field>


  <mat-form-field class="full-width">
    <mat-label>Heslo</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Heslo nemůže být prázdné</mat-error>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Zavřít</button>
  <button mat-raised-button [disabled]="!loginForm.valid" (click)="login()">Přihlásit se</button>
</mat-dialog-actions>
