mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: slategray;
  width: 10%;
}

button {
  width: 100%;
}

mat-nav-list{
  margin-top: 15px;
}

::ng-deep .error-notify {
  background-color: red;
  color: black;
}
