<app-toolbar></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-list-item>
        <button mat-raised-button aria-label="Home" routerLink="/">
          <mat-icon>home</mat-icon>
          O projektu
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button aria-label="books" routerLink="/book-list">
          <mat-icon>library_books</mat-icon>
          Rozbory
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button aria-label="authors" routerLink="/author-list">
          <mat-icon>people</mat-icon>
          Autoři
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


