<h2 mat-dialog-title>Registrace</h2>

<mat-dialog-content [formGroup]="registerForm">
      <mat-form-field class="full-width">
        <mat-label>Vložte svoje uživatelské jméno</mat-label>
        <input matInput placeholder="Uživatelské jméno" [formControl]="usernameControl"  required>
        <mat-error *ngIf="usernameControl.hasError('required')">Uživatelské jméno nemůže být prázdné</mat-error>
      </mat-form-field>


  <mat-form-field class="full-width">
    <mat-label>Vytvořte své heslo</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordControl" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">Heslo nemůže být prázdné</mat-error>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Zavřít</button>
  <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()">Registrovat</button>
</mat-dialog-actions>
