<div>
  <h1>
    {{getAuthorName()}}
    <button class="right" mat-stroked-button aria-label="Edit author" (click)="editAuthor()">Upravit autora</button>
    <button class="right" mat-stroked-button aria-label="Delete author" (click)="deleteAuthor()" *ngIf="isUserLoggedIn()" matTooltip="{{getTooltip()}}" [disabled]="canBeDeleted()">Smazat autora</button>
  </h1>
  <mat-divider class="mat-divider-head"></mat-divider>
  <h2>
    <mat-icon>local_offer</mat-icon>
    Informace o autorovi
  </h2>
  <p>{{getAuthorInfo()}}</p>
  <mat-divider class="mat-divider-normal"></mat-divider>
  <h2>
    <mat-icon>auto_stories</mat-icon>
    Autorova díla
  </h2>
  <p>{{showArrayInBlock(allBooks)}}</p>
</div>
