<h1 class="header">Autoři</h1>
<div>
  <mat-form-field class="left" style="width: 200px">
    <mat-label>
      <mat-icon>search</mat-icon>
      Filtrovat výsledky
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Zadejte výraz">
  </mat-form-field>
  <button class="right" mat-stroked-button aria-label="Add author" routerLink="/create-author">Přidat nového autora</button>
</div>
<div>
 <table mat-table [dataSource]="dataSource" matSort>
   <ng-container matColumnDef="name">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Jméno </th>
     <td mat-cell *matCellDef="let element"> {{element.name}} </td>
   </ng-container>

   <ng-container matColumnDef="books">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Rozebraná díla </th>
     <td mat-cell *matCellDef="let element"> {{showArrayInBlock(element.dbBooks)}} </td>
   </ng-container>

   <ng-container matColumnDef="books2">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Ostatní díla </th>
     <td mat-cell *matCellDef="let element"> {{showArrayInBlock(element.otherBooks)}} </td>
   </ng-container>

   <tr mat-header-row style="border-bottom: 5px solid midnightblue" *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;" routerLink="/book-detail" (click)="openAuthorDetail(row.id)"></tr>
 </table>

 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



