.mat-stroked-button{
  border-style: solid;
  border-color: slategray;
  width: 200px;
}

table{
  margin-top: 15px;
  width: 100%;
}

.header {
  color: #2729c1;
  font-weight: bold;
  margin-top: 40px;
  vertical-align: center;
  text-underline-style: thick;
  text-shadow: -1px 1px 0 #85f0ff, 1px 1px 0 #85f0ff, 1px -1px 0 #85f0ff, -1px -1px 0 #85f0ff;
  font-size: 40px;
}

.right{
  float: right;
  margin-right: 3%;
}

.left{
  margin-left: 3%;
}

.row:hover{
  background-color: navajowhite;
  cursor: pointer;
}

.mat-header-cell {
  font-weight: bold;
}
