<div>
  <form>
    <p *ngIf="!selected"> <mat-icon>info</mat-icon> Pokuste se vyhledat autora díla v databázi autorů. Pokud se v ní nenachází, nebo dílo nemá známého autora, zvolte možnost vlastní autor.</p>
    <mat-form-field>
      <input type="text" placeholder="Vyhledejte autora" aria-label="Author" matInput [formControl]="authorControl" [matAutocomplete]="auto"
             matTooltip="Pokuste se vyhledat autora mezi existujícími záznamy" (click)="authorControl.setValue('')">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredAuthors | async" [value]="option" (click)="authorSelected(option)">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <p *ngIf="selected">Informace o autorovi byly automaticky vyplněny. Můžete je libovolně upravovat. Pokud chcete vytvořit vlastního autora, zvolte možnost 'Vlastní autor.'</p>
</div>
