<mat-form-field>
  <mat-label>Žánry</mat-label>
  <mat-chip-list #chipList aria-label="Genre selection">
    <mat-chip
      *ngFor="let genre of genres"
      (removed)="remove(genre)">
      {{genre}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Přidejte žánr"
      #genreInput
      [formControl]="generesControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
      {{genre}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
