.header {
  color: #2729c1;
  font-weight: bold;
  margin-top: 40px;
  vertical-align: center;
  text-underline-style: thick;
  text-shadow: -1px 1px 0 #85f0ff, 1px 1px 0 #85f0ff, 1px -1px 0 #85f0ff, -1px -1px 0 #85f0ff;
  font-size: 40px;
}

.mat-card {
  max-width: 350px;
  background-color: powderblue;
  cursor: pointer;
  margin-right: 30px;
  flex: 1 1 auto;
  margin-bottom: 30px;
  height: 290px;
}

mat-icon {
  font-size: 150px;
  width: 150px;
  height: 150px;
}

.center {
  text-align: center;
}

.row{
  display: flex;
  margin-left: 50px;
}


