<h1 class="header">Vítejte v aplikaci ctenaraky.cz</h1>
<div class="card-list">
  <div class="row">
    <mat-card routerLink="/book-list">
      <mat-card-header>
        <mat-card-title>Databáze literárních rozborů</mat-card-title>
      </mat-card-header>
      <div class="center">
        <mat-icon>library_books</mat-icon>
      </div>
      <mat-card-content class="center">
        <p>
          Aplikace obsahuje databázi komplexních literárních rozborů. Zde je můžete prohlížet.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>PŘEJÍT</button>
      </mat-card-actions>
    </mat-card>
    <mat-card routerLink="/create-book">
      <mat-card-header>
        <mat-card-title>Vytváření literárních rozborů</mat-card-title>
      </mat-card-header>
      <div class="center">
        <mat-icon>history_edu</mat-icon>
      </div>
      <mat-card-content class="center">
        <p>
          Pokud nenaleznete rozbor oblíbeného díla v databázi, můžete vytvořit nový.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>PŘEJÍT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="row">
    <mat-card routerLink="/author-list">
      <mat-card-header>
        <mat-card-title>Databáze literárních autorů</mat-card-title>
      </mat-card-header>
      <div class="center">
        <mat-icon>people</mat-icon>
      </div>
      <mat-card-content class="center">
        <p>
          Aplikace obsahuje databázi informací o literárních autorech. Pro jejich prohlížení klikněte.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>PŘEJÍT</button>
      </mat-card-actions>
    </mat-card>
    <mat-card routerLink="/create-author">
      <mat-card-header>
        <mat-card-title>Přidávání informací o autorech</mat-card-title>
      </mat-card-header>
      <div class="center">
        <mat-icon>account_circle</mat-icon>
      </div>
      <mat-card-content class="center">
        <p>
          Aplikace umožňuje přidat informace o autorech, přestože nemají v databázi rozebrané žádné dílo. Zde přidáte nového autora.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>PŘEJÍT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
